################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/installer-output
/obj
/packages/System.Runtime.Serialization.Json.4.3.0
